
<%= turbo_frame_tag "app" do %>
<div class="container">
    <h1>Check out current threads!</h1>

 <a href="/forum/new" class="btn btn-primary">New forum</a> 
    <div class="card mt-3">
        <ul class="list-group list-group-flush">
            <% @forums.each do |forum| %>
            <li class="list-group-item">
                <a href="/forum/<%= forum.id %>">
                    <%= forum.title %>
                </a>
            </li>
        <% end %>
        </ul>
    </div>
</div>
<% end %>
